.DS_Store
/testdata/SplitMorphoData/test

/testdata/CheckW/res

/testdata/NormalizeIds/res

/testdata/NormalizeSpaces/logs

/testdata/SplitMorphoData/dev

/testdata/TagTransformator/Veestnesis-rez

/testdata/NormalizeSpaces/res

/testdata/UnnestCoord/res

/testdata/Unite/res

/testdata/UnnestCoord/warnings
