.DS_Store
/testdata/SplitMorphoData/test

/testdata/CheckW/res

/testdata/NormalizeIds/res

/testdata/NormalizeSpaces/logs

/testdata/SplitMorphoData/dev

/testdata/TagTransformator/Veestnesis-rez

/testdata/NormalizeSpaces/res

/testdata/UnnestCoord/res

/testdata/Unite/res

/testdata/UnnestCoord/warnings
/testdata/MakeFilelist/TestList.fl
/testdata/CheckLvPml/zeens-errors.txt

/testdata/RoleCounter/counts.txt
/testdata/CalcStats/stats.txt

/testdata/CalcStats/zeens.m-stats.txt

/testdata/UnnestCoord/zeens.m

/testdata/UnnestCoord/zeens.w
/ParserTools/lv
/ParserTools/*.mco
/ParserTools/*.out

/MorphoVerificator/lv

