.DS_Store

/ParserTools/lv
/ParserTools/*.mco
/ParserTools/*.out

/MorphoVerificator/lv

/LVTB2UD/lib/*.jar
/LVTB2UD/out
/LVTB2UD/lvtb2ud.zip
/LVTB2UD/.idea/workspace.xml
/LVTB2UD/.idea/tasks.xml
/LVTB2UD/.idea/libraries/lv_ailab_morphology_morphology_*.xml

/PmlCorporaTools/.idea/workspace.xml
/PmlCorporaTools/.idea/tasks.xml

/PmlCorporaTools/log/
/PmlCorporaTools/data/
/PmlCorporaTools/data-alt/
/PmlCorporaTools/testdata/*/res
/PmlCorporaTools/testdata/*/logs
/PmlCorporaTools/testdata/*/warnings
/PmlCorporaTools/testdata/Conll2MA/m-a
/PmlCorporaTools/testdata/SplitTrainDevTest/skip
/PmlCorporaTools/testdata/SplitTrainDevTest/test
/PmlCorporaTools/testdata/SplitTrainDevTest/train
/PmlCorporaTools/testdata/SplitTrainDevTest/dev
/PmlCorporaTools/testdata/SplitTrainDevTest/not-mentioned
/PmlCorporaTools/testdata/SplitBinary/on-list
/PmlCorporaTools/testdata/SplitBinary/off-list
/PmlCorporaTools/.idea/perl5local.xml

/PmlCorporaTools/* - Copy.bat
/TrEd extension/lv-treebank/lv-treebank.zip
*.vert
*.log
